<a href="https://colab.research.google.com/github/psygrammer/psypy/blob/master/vis/notebooks/01_intro_basic_and_custermized_plotting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introduction to Visualization with Python – Basic and Customized Plotting
* 싸이그래머 / PsyPy : 시각화 [1]
* 김무성

# Introduction

--------------

# Handling Data with pandas DataFrame

## Reading Data from Files

In [ ]:
# Exercise 1: Reading Data from Files

In [1]:
# 1. Open a jupyter notebook and load the pandas and seaborn libraries:

#Load pandas library
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
# 2. Specify the URL of the dataset:
#URL of the dataset
diamonds_url = "https://raw.githubusercontent.com/TrainingByPackt/Interactive-Data-Visualization-with-Python/master/datasets/diamonds.csv"

In [5]:
# 3. Read files from the URL into the pandas DataFrame:

#Yes, we can read files from a URL straight into a pandas DataFrame! 
diamonds_df = pd.read_csv(diamonds_url)
diamonds_df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [7]:
# Since the dataset is available in seaborn, we can alternatively read it in using the following line of code
diamonds_df = sns.load_dataset('diamonds')
diamonds_df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

## Observing and Describing Data

In [ ]:
# Exercise 2: Observing and Describing Data

In [ ]:
# 1. Load the pandas and seaborn libraries:

#Load pandas library

In [ ]:
# 2. Specify the URL of the dataset:

#URL of the dataset

In [ ]:
# 3. Read files from the URL into the pandas DataFrame:

#Yes, we can read files from a URL straight into a pandas DataFrame!

In [8]:
# 4. Observe the data by using the head function:

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [9]:
# 5. Count the number of rows and columns in the DataFrame using the shape function:

(53940, 10)

In [10]:
# 6. Summarize the columns using describe() to obtain the distribution of variables, including mean, median, min, max, and the different quartiles:

              carat         depth  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean       0.797940     61.749405  ...      5.734526      3.538734
std        0.474011      1.432621  ...      1.142135      0.705699
min        0.200000     43.000000  ...      0.000000      0.000000
25%        0.400000     61.000000  ...      4.720000      2.910000
50%        0.700000     61.800000  ...      5.710000      3.530000
75%        1.040000     62.500000  ...      6.540000      4.040000
max        5.010000     79.000000  ...     58.900000     31.800000

[8 rows x 7 columns]

In [11]:
# 7. Use include=object inside the describe function for categorical variables ( cut, color, clarity):

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [12]:
# 8. To obtain information on the dataset, use the info() method:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

## Selecting Columns from a DataFrame

In [13]:
diamonds_low_df = diamonds_df.loc[diamonds_df['cut']=='Ideal']
diamonds_low_df.head()

    carat    cut color clarity  depth  table  price     x     y     z
0    0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
11   0.23  Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
13   0.31  Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
16   0.30  Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
39   0.33  Ideal     I     SI2   61.8   55.0    403  4.49  4.51  2.78

## Adding New Columns to a DataFrame

In [ ]:
# Exercise 3: Adding New Columns to the DataFrame

In [16]:
#Load pandas library
import pandas as pd
import seaborn as sns

diamonds_url = "https://raw.githubusercontent.com/TrainingByPackt/Interactive-Data-Visualization-with-Python/master/datasets/diamonds.csv"

diamonds_df = pd.read_csv(diamonds_url)
diamonds_df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [18]:
# Add a price_per_carat column to the DataFrame:
diamonds_df['price_per_carat'] = diamonds_df['price']/diamonds_df['carat']

In [19]:
diamonds_df.head()

   carat      cut color clarity  ...     x     y     z  price_per_carat
0   0.23    Ideal     E     SI2  ...  3.95  3.98  2.43      1417.391304
1   0.21  Premium     E     SI1  ...  3.89  3.84  2.31      1552.380952
2   0.23     Good     E     VS1  ...  4.05  4.07  2.31      1421.739130
3   0.29  Premium     I     VS2  ...  4.20  4.23  2.63      1151.724138
4   0.31     Good     J     SI2  ...  4.34  4.35  2.75      1080.645161

[5 rows x 11 columns]

In [21]:
#Import numpy package for linear algebra
import numpy as np
diamonds_df['price_per_carat_is_high'] = np.where(diamonds_df['price_per_carat']>3500,1,0)
diamonds_df.head()

   carat      cut color  ...     z  price_per_carat  price_per_carat_is_high
0   0.23    Ideal     E  ...  2.43      1417.391304                        0
1   0.21  Premium     E  ...  2.31      1552.380952                        0
2   0.23     Good     E  ...  2.31      1421.739130                        0
3   0.29  Premium     I  ...  2.63      1151.724138                        0
4   0.31     Good     J  ...  2.75      1080.645161                        0

[5 rows x 12 columns]

## Applying Functions on DataFrame Columns

In [ ]:
# Exercise 4: Applying Functions on DataFrame columns

In [22]:
# Apply a simple function on the columns using the following code:
diamonds_df['price']= diamonds_df['price']*1.3
diamonds_df.head()

   carat      cut color  ...     z  price_per_carat  price_per_carat_is_high
0   0.23    Ideal     E  ...  2.43      1417.391304                        0
1   0.21  Premium     E  ...  2.31      1552.380952                        0
2   0.23     Good     E  ...  2.31      1421.739130                        0
3   0.29  Premium     I  ...  2.63      1151.724138                        0
4   0.31     Good     J  ...  2.75      1080.645161                        0

[5 rows x 12 columns]

In [23]:
# Apply a complex function to round off the price of diamonds to its ceil:
import math 

diamonds_df['rounded_price'] = diamonds_df['price'].apply(math.ceil) 
diamonds_df.head()

   carat      cut  ... price_per_carat_is_high rounded_price
0   0.23    Ideal  ...                       0           424
1   0.21  Premium  ...                       0           424
2   0.23     Good  ...                       0           426
3   0.29  Premium  ...                       0           435
4   0.31     Good  ...                       0           436

[5 rows x 13 columns]

In [24]:
# Use the lambda function as follows to round off the price of the diamonds to the nearest multiple of 100:
import math 

diamonds_df['rounded_price_to_100multiple']=diamonds_df['price']. apply(lambda x: math.ceil(x/100)*100)
diamonds_df.head()

   carat      cut  ... rounded_price rounded_price_to_100multiple
0   0.23    Ideal  ...           424                          500
1   0.21  Premium  ...           424                          500
2   0.23     Good  ...           426                          500
3   0.29  Premium  ...           435                          500
4   0.31     Good  ...           436                          500

[5 rows x 14 columns]

In [25]:
# Write code to create a user-defined function to round off the price of the diamonds to the nearest multiple of 100:
import math

def get_100_multiple_ceil(x): 
  y = math.ceil(x/100)*100 
  return y

diamonds_df['rounded_price_to_100multiple'] = diamonds_df['price'].apply(get_100_multiple_ceil)
diamonds_df.head()

   carat      cut  ... rounded_price rounded_price_to_100multiple
0   0.23    Ideal  ...           424                          500
1   0.21  Premium  ...           424                          500
2   0.23     Good  ...           426                          500
3   0.29  Premium  ...           435                          500
4   0.31     Good  ...           436                          500

[5 rows x 14 columns]

## Deleting Columns from a DataFrame

## Writing a DataFrame to a File

-------------

# Plotting with pandas and seaborn

## Creating Simple Plots to Visualize a Distribution of Variables

## Bar Plots

---------------

# Tweaking Plot Parameters

## Annotations

----------------

# 참고자료
* [1] 책 : Interactive Data Visualization with Python: Present your data as an effective and compelling story, 2nd Edition - https://www.amazon.com/Interactive-Data-Visualization-Python-compelling-ebook/dp/B0876KQWD3/
* [2] 책 소스 github - https://github.com/TrainingByPackt/Interactive-Data-Visualization-with-Python